body {
    background-color: #020887;
    color: #7ca5b8;
    text-align: center;
}

#cardio {
    background-color: #38369a;
    padding: 15px;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#session-label {
    display: inline-block;
    padding: 10px;
}

#break-label {
    display: inline-block;
    padding: 10px;
}

#session-length {
    font-size: 40px;
}

#break-length {
    font-size: 40px;
}

#session-increment {
    font-size: 40px;
}

#session-decrement {
    font-size: 40px;
}

#break-increment {
    font-size: 40px;
}

#break-decrement {
    font-size: 40px;
}

#start_stop {
    font-size: 40px;
}

#reset {
    font-size: 40px;
}

#session-increment:active,
#break-increment:active,
#break-decrement:active,
#session-decrement:active,
#start_stop:active,
#reset:active {
    color: #c6ebbe;
}

#time-left {
    font-size: 80px;
}

#state {
    color: #38369a;
}